@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(219, 219, 219);
}

#root {
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  margin-top: 25px;
  min-height: 100vh;
  width: 100%;
}

#left-forms-container {
  width: 100%;
}

.title {
  align-self: center;
}

.forms-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  margin: 10px;
  position: relative;
  width: 50%;
}

.initial-input {
  background: transparent;
  border: none;
  box-shadow: 0 0.05rem 0 0 #000;
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  margin: 5px;
  outline: none;
  padding: 5px;
  padding-left: 27px !important;
}

.inputs {
  background: transparent;
  border: none;
  box-shadow: 0 0.05rem 0 0 #000;
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  margin: 5px;
  outline: none;
  padding: 5px;
}

.span-name {
  margin-left: 5px;
}

#label-initial {
  margin-left: 4px;
  margin-top: 30px;
  position: absolute;
}

#label-initial-percent {
  font-size: large;
  margin-left: 29px;
  margin-top: 25px;
  position: absolute;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.btn-forms {
  align-self: center;
  background-color: white;
  border-radius: 10px;
  font-size: larger;
  padding: 5%;
  width: 90%;
}

.upright-btns {
  align-items: center;
  border: 2px solid black;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  font-size: large;
  height: 50px;
  justify-content: center;
  margin-top: 10px;
  width: 48%;
}

.upleft-btns {
  align-items: center;
  border: 2px solid black;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  font-size: large;
  height: 50px;
  justify-content: center;
  margin-top: 10px;
  width: 48%;
}

#icon {
  margin-right: 10px;
  width: 8%;
}

#income-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#simulator-text {
  margin-bottom: -20px;
  margin-left: 2.5px;
}

.up-btns {
  display: flex;
  justify-content: center;
}

.checked {
  background-color: #ED8E53;
  color: white;
}

.fix-btn {
  border: 2px solid black;
  border-radius: 0px 10px 10px 0px;
  font-size: large;
  height: 50px;
  margin-top: 10px;
  width: 32%;
}

.pre-btn {
  border: 2px solid black;
  border-radius: 10px 0px 0px 10px;
  font-size: large;
  height: 50px;
  margin-top: 10px;
  width: 32%;
}

.pos {
  border: 2px solid black;
  font-size: large;
  height: 50px;
  margin-top: 10px;
  width: 32%;
}

#left-forms {
  display: flex;
  margin: 50px;
  width: 45%;
}

#white-space-div {
  height: 9px;
}

.check-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(85deg) brightness(103%) contrast(100%);
  width: 15%;
}

#right-container {
  background-color: #ED8E53;
  width: 50%;
}

.result-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-around;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  width: 180px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.24);
}

#title-results {
  font-size: large;
}

#rectangles-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 23px;
  width: 100%;
}

#simulation-result {
  margin-top: 80px;
}

#chart {
  background-color: antiquewhite;
  width: 600px;
}


@media only screen and (min-width: 200px) and (max-width: 600px) {
  body {
    background-color: rgb(219, 219, 219);
  }

  #root {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  #left-forms-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
  }

  #left-forms {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }

  .btn-forms {
    width: 200%;
  }

  .forms-container {
    width: 100%;
  }

  #right-forms {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  #root {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  #left-forms {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
  }

  .forms-container {
    height: 550px;
    margin: auto;
    max-width: 100%;
  }

  .btn-forms {
    width: 200%;
  }

  #simulation-result {
    align-self: center;
  }
}

#simulation-text {
  text-align: center;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  #root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #left-forms-container {
    align-self: center;
    background-color: aqua;
  }

  #left-forms {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85%;
  }

  .forms-container {
    margin: 20px;
    height: 500px;
  }

  .btn-forms {
    width: 300px;
  }

  #simulation-result {
    align-self: center;
  }
}

#simulation-text {
  text-align: center;
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  #left-forms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  #left-forms {
    width: 60%;
  }

  .chart {
    width: 100%;
  }
}

@media only screen and (min-width: 1301px) {
  #left-forms-container {
    display: flex;
  }

  #right-forms {
    width: 45%;
  }
}